################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample/.vs/Sample/v15/Server/sqlite3
/Sample/.vs/Sample/DesignTimeBuild
